.button {
    /* width: 200px;
    height: 60px;
    font-size: 1.4rem;
    color: #ffffff;
    outline: 0;
    border: 0;
    border-radius: 20px;
    background-color: #ea7c69; */
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: 12px 20px;
    background-color: #4CAF50; /* Cambia este color de fondo */
    color: #fff; /* Cambia el color del texto */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.button:hover {
    /* filter: drop-shadow(0px 0px 10px #ea7c6994);
    transition: all 0.2s ease; */
    background-color: #0e130e; 
}
.button:active {
    transform: scale(0.9);
    transition: all 0.2s ease;
    background-color: #3e8e41;
}
